:root {
      
    --DarkBlue: #0f172a;        
    --DarkBlue2: #131c31;       
    --CardColor: #1e293b;        
    --CardHover: #334155;   
    --BtnGradA: #2f80ed;
    --BtnGradB: #38bdf8;    
    --AltBG: #131c31;


    --MainFontColor: #ffffff;     
    --SecondaryFontColor: #94a3b8; 
    --MutedFont: #64748b;         
    --line: #334155;             

    --AccentBlue: #38bdf8;      

    --TagBG: #0f172a;            
    --TagBorder: #475569;        
    --FontSize: 14px;
    --Radius: 12px;
    --SmallRadius: 6px;
    --Shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


.ViewCV:hover, .ContactMe:hover {
transform: translateY(-3px);
opacity: 0.9;
}
.InfoLinks a
{
    text-decoration: none;
    color: white;
    background-color: #2f80ed;
    border-radius: 20px;
    padding: 10px 32px;
    font-size: var(--FontSize);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    background-color: var(--DarkBlue); /* #0f172a */
    color: var(--MainFontColor);

}

.MainContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.ProfileImage {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 2px solid var(--AccentBlue);
    object-fit: cover;
}

.About {
    background-color: var(--DarkBlue); 
    padding: 100px 0; 
}

.AboutContent {
    display: flex;
    gap: 60px;
    align-items: center;     
    justify-content: center; 

    max-width: 1200px;       
    width: 90%;
}

.Description h2:first-child {
    font-size: 20px;
    padding-bottom: 6px;
    margin-left: 0;
}

@media (max-width: 900px) {
    .AboutContent {
        flex-direction: column;
        text-align: center;
    }

    .Description 
    {
        max-width: 90%;
    }
}

.Description p {
    color: var(--SecondaryFontColor);
    font-size: var(--FontSize);
    line-height: 1.7;
    margin-bottom: 18px;
    margin-top: 30px;
}


.AboutMe {
    font-weight: bold;
    font-size: 22px;
}


.Description {
    max-width: 600px;
    text-align: center;
}


.navbar {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 15px;
    
    justify-content: center;
    background-color: var(--CardColor);
    color: white;
    position: sticky;
    top: 0px;
}


.nav-list {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    list-style: none;
    padding: 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: var(--CardHover);

    color:var(--AccentBlue)
}

.SkillsContainer {
padding-top: 0;       
padding-bottom: 80px; 
display: flex;
background-color: var(--AltBG);
flex-wrap: wrap;
gap: 25px;
justify-content: center;
}

.card {
    border: 1px solid var(--line);
    border-radius: var(--Radius);
    width: 500px;
    padding: 25px;
    background-color: var(--DarkBlue);
    transition: 0.2s ease-in-out;
}

.card:hover {

    background: var(--CardHover);
    border: 1px var(--AccentBlue) solid;
    transform: translateY(-5px);
}

.Skills {
    display: flex;
    align-items: center;
    gap: 12px;
}


.Skills h2 {
    margin: 0;
    color: white;
    font-size: 20px;
}

.Backend, .Frontend, .Concepts, .Technologies, .SoftSkills, .Databases {
    display: flex;
    margin-top: 12px;
    flex-wrap: wrap;
}


.SkillsContainer span {
    background: #14283c;
    padding: 8px 14px;
    border-radius: 8px;
    color: var(--AccentBlue);
    font-size: 14px;
    margin: 4px;
    border: 1px solid rgba(255,255,255,0.05);
    white-space: nowrap;
}

@media (max-width: 992px) {
    .card {
        width: 420px;
    }
}

@media (max-width: 768px) {
    .SkillsContainer {
        padding: 120px 15px;
    }

    .card {
        width: 90%;         
        padding: 20px;
    }

    .Skills h2 {
        font-size: 18px;
    }


}

@media (max-width: 480px) {
    .SkillsContainer {
        padding: 100px 10px;
    }

    .card {
        width: 100%;     /* perfect fit */
        padding: 18px;
    }

    .Skills .icon {
        font-size: 22px;
        padding: 8px;
            color: var(--AccentBlue);

    }

    .Skills h2 {
        font-size: 17px;
    }

    .Backend span, .Frontend span, .Concepts span,
    .Technologies span, .SoftSkills span, .Databases span {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        padding: 6px 10px;
    }
}


.edu-card {
width: 55%;
margin: 0 auto 40px auto; 
padding: 30px;
background-color:#1e293b;
border-radius: var(--Radius);
display: flex;
gap: 25px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.edu-icon {
    min-width: 60px;
    height: 60px;
    background: #2d3743;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edu-icon i {
    font-size: 26px;
    color: #2f80ed;
}

@media (max-width: 768px) {
    .edu-card {
        width: 90%;
        flex-direction: column;
    }

    .edu-icon {
        margin: 0 auto;
    }
}


.social-icons a {
    margin-left: 12px;
    color: #2f80ed;
    font-size: 22px;
    text-decoration: none;
    transition: 0.2s ease;
}

.social-icons a:hover {
    color: #fff;
    transform: translateY(-3px);
    
}


.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 40px;
}


.EducationTitle {
text-align: center;
margin-top: 50px; 
margin-bottom: 20px;
}

.ShowProjects button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 15px 50px;
    background-color: #2f80ed;
    color: white;
    border: none;
    border-radius: 30px;

    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.ShowProjects a {
    color: white;
    text-decoration: none;
}


.SkillsContainer h2:first-child {
display: inline-flex;
justify-content: center;
margin-top: 50px;    
margin-bottom: 20px; 
width: 100%;
}


@media (max-width: 768px) {
.SkillsContainer {
    padding-top: 0;
    padding-bottom: 60px;
}

.edu-card {
    width: 80%;
    flex-direction: column;
}
}

.ExperienceSection {
background-color:var(--DarkBlue);
padding: 80px 20px;
}

.ExperienceSection #exp-title {
text-align: center;
margin-bottom: 30px;
color: white;
}

.ExperienceSection .exp-card {
background-color:var(--DarkBlue);
border-radius: 12px;
padding: 30px;
margin: 0 auto 30px auto;
max-width: 900px;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.ExperienceSection .timeline {
border-left: 3px solid #475569; 
padding-left: 20px;
gap: 18px;
}

.ExperienceSection {
background-color: var(--AltBG);
}

.projects-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
gap: 30px;
padding: 0 20px;
margin: 0px;

border-radius: 14px;
transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card {
background: #1e293b;
border-radius: 14px;
box-shadow: 0 10px 25px rgba(0,0,0,0.3);
transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card:hover {
transform: translateY(-6px);
box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}


.project-content {
padding: 20px 25px;
margin: 20px;
}
.project-content h3 {
font-size: 22px;
color: #38bdf8;
margin-bottom: 10px;
}

.project-content p {
font-size: 15px;
margin-bottom: 12px;
}

.tag-list {
display: flex;
flex-wrap: wrap;
gap: 7px;
}

.tag-list span {
background: #0f172a;
border: 1px solid #475569;
padding: 5px 10px;
border-radius: 6px;
font-size: 13px;
color: var(--AccentBlue)
}

@media (max-width: 900px) {
.projects-grid {
grid-template-columns: 1fr;
}
}

.main-footer {
background-color: var(--CardColor);

display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 15px;
    align-items: center;   
flex-direction: column;   
color: white;
}


